button.LinkButton {
	border: none;
	padding: 0;
	background: none;
	color: blue;
	cursor: pointer;
	text-decoration: underline;
	font-size: 15px;
	font-family: monospace;
}

span.weak {
	font-weight: lighter;
	font-size: 13px;
}
