<template>
    <div>
        <div class="row">
            <div class="col-sm-3">
                <h3><center>{{symbol}}</center></h3>
            </div>
            <div class="col-sm-3">
                <h2>Data&links</h2>
            </div>
            <div class="col-sm-3">
                <h2>52 Week high low</h2>
            </div>
            <div class="col-sm-3">
                <ul class="nav nav-pills">
                    <li v-for='item in [10, 30, 60, 90, 180, 0]'>
                        <button style="padding-left: 15px;"class="LinkButton" v-on:click="showDays(item)">{{item > 0 ? item : 'All'}} Days</button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row" style="width:auto;height:auto;" id="volumePlot"/>
        <div class="row" id="pricePlot"/>

        <div class="row" style="overflow: scroll; overflow-x: auto; height: 80vh; padding-top: 5px">
            <table class="table table-striped table-bordered table-hover table-fixed">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Close</th>
                        <th scope="col">Change</th>
                        <th scope="col">Qty </th>
                        <th scope="col">Delivered Qty</th>
                        <th scope="col">Total Trades</th>
                        <th scope="col">Traded Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in stockHistory">
                        <td>{{item.date | DateToString}}</td>
                        <td>{{item.close}}</td>
                        <td>
                            <font v-bind:color="item.change > 0 ? 'Green':'Red'">{{item.change}}</font>
                        </td>
                        <td>{{item.totQty}}</td>
                        <td>{{item.totDelQty}}</td>
                        <td>{{item.totTrades}}</td>
                        <td>{{item.totTraVal}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script src="./History.ts"></script>