<template>
    <div>
        <div class="header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="btn-group">
                        <button  class="btn btn-primary btn-lg" v-on:click="showInformation('company');">Companies</button>
                        <button  class="btn btn-primary btn-lg" v-on:click="showInformation('etf');">ETF</button>
                        <button  class="btn btn-primary btn-lg" v-on:click="showInformation('index');">Index</button>
                    </div>
                </div>
                <div class="col-sm-8">
                    <span>Show information for {{display}}'s</span>
                </div>
            </div>
        </div>
        <div class="row"  style="overflow: scroll; overflow-x: auto; height: 80vh;" v-if="display == 'company'">
            <table class="table">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Company Name</th>
                        <th>Symbol</th>
                        <th>Date Of Listing </th>
                        <th>ISIN Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in list.companyList">
                        <td>{{index+1}}</td>
                        <td>{{item.companyName}}</td>
                        <td>{{item.symbol}}</td>
                        <td>{{item.dateOfListing | DateToString}}</td>
                        <td>{{item.isinNumber}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row"  style="overflow: scroll; overflow-x: auto; height: 80vh;" v-if="display == 'etf'">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Index</th>
                            <th>ETF Name</th>
                            <th>Symbol</th>
                            <th>Underlying asset</th>
                            <th>Date Of Listing </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in list.etfList">
                            <td>{{index+1}}</td>
                            <td>{{item.etfName}}</td>
                            <td>{{item.symbol}}</td>
                            <td>{{item.underlying}}</td>
                            <td>{{item.dateOfListing | DateToString}}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div class="row"  style="overflow: scroll; overflow-x: auto; height: 80vh;" v-if="display == 'index'">
            <table class="table">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Index Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in list.indexList">
                        <td>{{index+1}}</td>
                        <td>{{item}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script src="./List.ts"></script>