<template>
    <div>
        <div class="row">
            <h3>Options History for Expiry Date: {{expDate}}, StrikePrice: {{strikePrice}}, optionType: {{callOption.localeCompare("true") == 0
                    ? "call": "put"}}</h3>
        </div>
        <div class="row" style="overflow: scroll; overflow-x: auto; height: 85vh; padding-top: 5px">
            <table class="table table-striped table-bordered table-hover table-fixed">
                <thead class="thead-dark">
                    <tr>
                        <!-- <th>Id</th> -->
                        <th scope="col">Date</th>
                        <th scope="col">Change</th>
                        <th scope="col">open</th>
                        <th scope="col">close</th>
                        <th scope="col">high</th>
                        <th scope="col">low</th>
                        <th scope="col">OI</th>
                        <th scope="col">OI Change</th>
                        <th scope="col">tradedQty</th>
                        <th scope="col">Value(Cr)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in optionsReport">
                        <!--<td>{{item.optionsId}}</td>-->
                        <td>{{item.expiryDate}}</td>
                        <td><font v-bind:color="item.change >= 0 ? 'Green':'Red'">{{item.change}}%</font></td>
                        <td>{{item.open}}</td>
                        <td>{{item.close}}</td>
                        <td>{{item.high}}</td>
                        <td>{{item.low}}</td>
                        <td>{{item.openIntrest}}</td>
                        <td><font v-bind:color="item.oi_change >= 0 ? 'Green':'Red'">{{item.oi_change}}%</font></td>
                        <td>{{item.tradedQty}}</td>
                        <td>{{item.notionalValue}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script src="./OptionsHistory.ts"></script>